
.homeSection1 {
    padding: 5rem 0 3rem 0;
}

.homeSection1 .homeSection1-header h1{
   font-size: 2.5rem;
   color: var(--secondary-color); 
   text-align: center;
   padding: 0 2rem;
}

.homeSection1 .homeSection1-header p {
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    color: rgba(1, 12, 1, 0.651);
}

.homeSection1-flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
}

.homeSection1-flexItem {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: 210px;
    width: 400px;
    padding: 0 1rem;

    -webkit-box-shadow: 0px 0px 47px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 47px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 47px -15px rgba(0,0,0,0.75);
}

.homeSection1-icon {
    font-size: 2rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    margin: auto;
    padding: .8rem .9rem .4rem .9rem;
    color: var(--secondary-color);
}

.homeSection1-icon-caption {
    margin: auto;
    text-align: left;
}

.homeSection1-icon-caption h1{
    padding: .5rem 0;
}

.homeSection1-flexItem2 {
    background-color: var(--primary-color);
}

.homeSection1-flexItem2 h1{
    color: white;
}

.homeSection1-flexItem2 p{
    color: white;
}

.homeSection1-icon2 {
    font-size: 2rem;
    background-color: #E17141;
    border-radius: 5rem;
    margin: auto;
    padding: .8rem .9rem .4rem .9rem;
    color: white;
}

@media screen and (max-width:940px) {
    .homeSection1 .homeSection1-header h1{
        font-size: 1.5rem;
    }
}