.homeSection5 {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(5, 15, 9, 0.774);
    margin: 3rem 0;
  }
  
  .homeSection5:before {
    content: '';
    position: absolute;
    background: url('../../assets/section5-image-min.jpg') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* background-attachment: fixed; */
  }

  .homeSection5-content {
    position: relative;
    text-align: center;
    top: 5%;
    z-index: 2;
    padding: 4rem 0;


  }

  .homeSection5-content h1 {
    font-size: 1rem;
    padding: 2rem;
    color: #E17141;
    letter-spacing: 5px;
  }

  .homeSection5-content h2 {
    font-size: 2.5rem;
    color: rgb(212, 212, 212);
    padding: 0 0 2rem 0;
  }

  .homeSection5-content p {
    color: rgb(212, 212, 212);
  }

  /* cards */

  .homeSection5-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
  }

  .homeSection5-item {
    width: 400px;
    height: 350px;
    background-color: rgba(255, 253, 253, 0.322);
    padding: 2rem;
  }

  .homeSection5-item h1 {
    color: rgb(209, 208, 208);
    font-size: 1.3rem;
    padding: 0 0 1rem 0;
  }

  .homeSection5-item h2 {
    padding: 1rem;
    color: #E17141;

  }

  .homeSection5-item p {
    padding: 0 1rem;
    color: rgb(209, 208, 208);
  }

  .homeSection5-btn {
    margin: auto;
    text-align: center;
  }



  @media screen and (max-width:700px) {
    .homeSection5-item {
        width: 100%;
        margin: 1rem;
      }
    
  }













  /* BUTTON */

  .fancy {
    background-color: transparent;
    border: 2px solid #d4d0d0;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgb(211, 210, 210);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(223, 223, 223);
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #c76718;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #c76718;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #c76718;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }



   /* button */

   .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #438ba1;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }

   .cta:hover {
    background-color: rgba(255, 255, 255, 0);
    border: none;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #eaecee;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #eaecee;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #438ba1;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }