.insuranceLogosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0rem;
}


.InsuranceSectionHeader {
    text-align: center;
    padding: 3rem 0 1rem 1rem;
}

.call {
    width: 500px;
    margin: auto;
    margin: 1rem  auto -3rem auto;
    padding: 1rem;
}

.call img {
    width: 100%;
}
