@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.wrap {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  margin: 5rem 0 1rem 0;
}

.box-left {
    height: auto;
    width: 700px;
    display: inline-block;
    margin: 1rem;
}

.left-decription {
    width: 100%;
}

.box-right {
    width: 600px;
    text-align: center;
    padding: 1rem;
}

.box-right img{
    width: 100%;
    border-radius: 1rem;
}

.box-right2 {
    width: 250px;
    display: none;
}

.wrap .header {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.wrap .box-left .left-description p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.box-btn {
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {


    .box img {
        display: none;
    }

    .wrap p {
        font-size: 14px;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .left h1 {
        font-size: 2rem;
    }

    .left button {
    margin: 1rem auto;
    }

    .box-right {
    display: none;
    }

    .box-right2 {
    display: block;
    }

    .wrap .header {
        text-align: center;
    }

}