.covidImgContainer {
    width: 150px;
}

.covidImgContainer img {
    width: 100%;
}

.covid-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
}

.covid-description {
    position: relative;
    transform: translateY(30%);
    text-align: center;
    padding: 1rem;
}